@import 'menu/menu';
@import 'logo/logo';
@import "../libs/vars";
@import "../libs/mixins";

/// Block header

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25/16 + em 0;

  &__content {
    width: (1120/2) + px;
    padding-right: 2rem;
  }

  &__rect {
    position: absolute;
    bottom: 35/16 + rem;
    left: calc(50% - 39px);
    width: 78px;
    height: 78px;
    background: url("../img/rectangle.png");

    &:after {
      width: 19px;
      height: 13px;
      background: url("../img/rectangle_2_copy_2.png") center center;
    }
  }
  
  @media all and (max-width: 990px) {

  }
}