@import "../libs/vars";
@import "../libs/mixins";

/// Block page

.page__header {
  height: 100vh;
  background: url("../img/#{$bg-page-header_2}") -50% 0 no-repeat, #28282e;
  margin-bottom: 109/16 + rem;
}
.page__about {
  border-top: 1px solid #e7eaed;
  border-bottom: 1px solid #e7eaed;
}
.page__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page__blog {
  padding-top: 100/16 + rem;
  padding-bottom: 100/16 + rem;
  text-align: center;
}

.page__footer {
  padding: 50/16 + rem 0 70/16 + rem 0;
  background: $bg-footer;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 12/16 + rem;
}
